.boxCard {
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.green {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: green;
}

.red {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: red;
}