.boxCard {
    width: 280px;
    height: auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusPersonagem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.green {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: green;
}

.red {
    border-radius: 100%;
    width: 8px;
    height: 8px;
    background-color: red;
}

h1 {
    margin: 0px;
    padding: 0px;
}

.boxCard img {
    width: 70%;
}